# Python Basics

In [1]:
import numpy as np
from decimal import Decimal

## Introduction

In [2]:
temperature = 8
city = "Pau"
days = ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi']
days

['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi']

In [3]:
city = "Toulouse"
print(f"I'm in {city}")

I'm in Toulouse

## Integer type(s)
- python 3: int
- numpy: int8, ..., int64 (signed), uint8, ..., uint64 (unsigned)

In [4]:
x = 300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004
x + 1

300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005

In [5]:
color = np.uint8(254)
print(color, type(color), sep=': ')

254: <class 'numpy.uint8'>

## Floating types
- float: simple/double precision according to architecture
- numpy: float16, float32, float64

In [6]:
price = 0.1
print(type(price))
price, price * 2, price * 3

<class 'float'>

(0.1, 0.2, 0.30000000000000004)

## Decimal type (fixed)

In [7]:
price = Decimal('0.1')
print(type(price))
price, price * 2, price * 3

<class 'decimal.Decimal'>

(Decimal('0.1'), Decimal('0.2'), Decimal('0.3'))

In [8]:
print(price)

0.1

## Booleans
- type bool

In [9]:
True, False

(True, False)

## None

In [10]:
city = None
city

In [11]:
type(city)

NoneType

In [12]:
city is None, city is not None

(True, False)

## Texte
- type str, unicode (python 3)

In [13]:
city = "東京"
city

'東京'

In [14]:
city = "Toulouse"
print(len(city))
print(city.lower())
print(city.upper())

8
toulouse
TOULOUSE

In [15]:
# TypeError: 'str' object does not support item assignment
# city[0] = 'B'

In [16]:
city[0], city[7]

('T', 'e')

In [17]:
# IndexError: string index out of range
# city[8]

In [18]:
# last elements
city[-1], city[-2], city[-8]

('e', 's', 'T')

In [20]:
# slices (forward, step=+1)
print(city[:1])
print(city[1:6])
print(city[6:])
print(city[:])

T
oulou
se
Toulouse

In [23]:
# other slices
print(city[-3:]) # 3 last ones
print(city[7:3:-1]) # slice, reverse order
print(city[::2], city[1::2])

use
esuo
Tuos olue

## Function

In [30]:
def f(x):
    return x**2 + 1

f(3)

10

In [25]:
f(4.5)

21.25

In [27]:
# TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'
# f(city)

## Operators

In [31]:
print(1 + 5)
print(2 * 5)
print(1 - 5)

6
10
-4

In [36]:
print(5 / 3) # returns float
print(5 // 3) # int division (Euclide)
print(5 % 3) # modulo/reminder division (Euclide)
print(divmod(5, 3)) # quotient + reminder

1.6666666666666667
1
2
(1, 2)

In [37]:
# power
print(2**10)

1024

In [39]:
# mixed types (float, int) -> float
print(5 * 3.5)
print(3.5 * 5)

17.5
17.5

In [42]:
# concatenate str 
city + ', ville rose'

'Toulouse, ville rose'

In [45]:
# formatted string
f"{city}, ville rose ; la température est de {temperature}°C"

'Toulouse, ville rose ; la température est de 8°C'

In [46]:
city * 5

'ToulouseToulouseToulouseToulouseToulouse'

In [48]:
# TypeError: can't multiply sequence by non-int of type 'str'
# city * city