# Python Basics

In [1]:
import numpy as np
from decimal import Decimal

## Introduction

In [2]:
temperature = 8
city = "Pau"
days = ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi']
days

['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi']

In [3]:
city = "Toulouse"
print(f"I'm in {city}")

I'm in Toulouse

## Integer type(s)
- python 3: int
- numpy: int8, ..., int64 (signed), uint8, ..., uint64 (unsigned)

In [4]:
x = 300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004
x + 1

300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005

In [5]:
color = np.uint8(254)
print(color, type(color), sep=': ')

254: <class 'numpy.uint8'>

## Floating types
- float: simple/double precision according to architecture
- numpy: float16, float32, float64

In [6]:
price = 0.1
print(type(price))
price, price * 2, price * 3

<class 'float'>

(0.1, 0.2, 0.30000000000000004)

## Decimal type (fixed)

In [7]:
price = Decimal('0.1')
print(type(price))
price, price * 2, price * 3

<class 'decimal.Decimal'>

(Decimal('0.1'), Decimal('0.2'), Decimal('0.3'))

In [8]:
print(price)

0.1

## Booleans
- type bool

In [9]:
True, False

(True, False)

## None

In [10]:
city = None
city

In [11]:
type(city)

NoneType

In [12]:
city is None, city is not None

(True, False)

## Texte
- type str, unicode (python 3)

In [13]:
city = "東京"
city

'東京'

In [14]:
city = "Toulouse"
print(len(city))
print(city.lower())
print(city.upper())

8
toulouse
TOULOUSE

In [15]:
# TypeError: 'str' object does not support item assignment
# city[0] = 'B'

In [16]:
city[0], city[7]

('T', 'e')

In [17]:
# IndexError: string index out of range
# city[8]

In [18]:
# last elements
city[-1], city[-2], city[-8]

('e', 's', 'T')

In [20]:
# slices (forward, step=+1)
print(city[:1])
print(city[1:6])
print(city[6:])
print(city[:])

T
oulou
se
Toulouse

In [23]:
# other slices
print(city[-3:]) # 3 last ones
print(city[7:3:-1]) # slice, reverse order
print(city[::2], city[1::2])

use
esuo
Tuos olue

## Function

In [30]:
def f(x):
    return x**2 + 1

f(3)

10

In [25]:
f(4.5)

21.25

In [27]:
# TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'
# f(city)

## Operators

In [31]:
print(1 + 5)
print(2 * 5)
print(1 - 5)

6
10
-4

In [36]:
print(5 / 3) # returns float
print(5 // 3) # int division (Euclide)
print(5 % 3) # modulo/reminder division (Euclide)
print(divmod(5, 3)) # quotient + reminder

1.6666666666666667
1
2
(1, 2)

In [37]:
# power
print(2**10)

1024

In [39]:
# mixed types (float, int) -> float
print(5 * 3.5)
print(3.5 * 5)

17.5
17.5

In [42]:
# concatenate str 
city + ', ville rose'

'Toulouse, ville rose'

In [45]:
# formatted string
f"{city}, ville rose ; la température est de {temperature}°C"

'Toulouse, ville rose ; la température est de 8°C'

In [46]:
city * 5

'ToulouseToulouseToulouseToulouseToulouse'

In [48]:
# TypeError: can't multiply sequence by non-int of type 'str'
# city * city

### In place Operators

In [50]:
x = 3
x += 1
x

4

In [53]:
city = 'Toulouse'
# += works for non mutable types: city = city + ', ville rose'
city += ', ville rose' # new string, replacing previous one
city

'Toulouse, ville rose'

### logical operators
- sequential and, or
- keywords not special characters: not, and, or

In [54]:
(len(city) > 5) and (city[5] == 'o')

False

In [55]:
city = 'Pau'
(len(city) > 5) and (city[5] == 'o')

False

In [59]:
# content
print(city == 'Pau') 

# same object in memory
print(city is 'Pau')

True
True

<>:5: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
C:\Users\Matthias\AppData\Local\Temp\ipykernel_10616\2280567020.py:5: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
  print(city is 'Pau')

In [58]:
city2 = city # 2 variables references same data
city is city2

True

### containing

In [61]:
'ou' in 'Toulouse'

True

## Control flow

### Condition
one, two, ..., n cases

In [62]:
if len(city) > 5:
    print(city[:6])
else:
    print(city)

Pau

In [64]:
if len(city) == 0:
    print('empty city')
elif len(city) > 5:
    print(city[:6])
else:
    print(city)

Pau

In [65]:
# python 3.10+
match city:
    case '':
        print('emptycity')
    case 'Pau':
        print('Pau is a special case')
    case _ if len(city) > 5:
        print(city[:6])
    case _:
        print(city)

Pau is a special case

In [66]:
# ternary if expression:
city[:6] if len(city)> 5 else city

'Pau'

### Loops

#### for

In [67]:
for letter in 'Toulouse':
    print(letter)

T
o
u
l
o
u
s
e

In [69]:
cities = [ "Toulouse", "Pau", "Nantes" ]
for city in cities:
    print(city)
print('After loop:', city)

Toulouse
Pau
Nantes
After loop: Nantes

In [71]:
for i in range(4):
    print('*', i)

for i in range(1, 4):
    print('#', i)

for i in range(5, 0, -1):
    print('.', i)

* 0
* 1
* 2
* 3
# 1
# 2
# 3
. 5
. 4
. 3
. 2
. 1

In [72]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [73]:
r = range(10)
r

range(0, 10)

In [76]:
for i, city in enumerate(cities):
    print(i, city, sep=' -> ')

0 -> Toulouse
1 -> Pau
2 -> Nantes

In [79]:
for i, city in enumerate(cities, start=1):
    print(i, city, sep=' -> ')

1 -> Toulouse
2 -> Pau
3 -> Nantes

#### while

In [81]:
i = 4
while i > 0:
    print('A', i, sep='')
    i -= 1

A4
A3
A2
A1

## Containers
- list: [1, 2, 3]
- tuple: (1, 2, 3)
- set: {1, 2, 3}
- dict: {'name': 'Pau', 'pop': 77000}

In [82]:
type({})

dict

In [83]:
type(set())

set

In [85]:
t = ()
type(t)

tuple

In [86]:
t = (5)
type(t)

int

In [87]:
t = (5,)
type(t)

tuple

In [89]:
t = 1, 2, 3
print(type(t))
t

<class 'tuple'>

(1, 2, 3)

In [90]:
# unwrap tuple
a, b, c = t
print(a, b, c)

1 2 3

### Tuple vs List
- list are homogenous
- tuple can be heterogenous

In [92]:
city_list = ['Toulouse', 'Pau', 'Nantes']
city_tuple = 'Toulouse', 'Pau', 'Nantes'

In [96]:
for source in (city_list, city_tuple):
    print("Iteration:", type(source))
    print("Length:", len(source))
    print("First:", source[0])
    print("Last:", source[-1])
    print("Slice:", source[:2]) 
    for city in source:
        print('\t-', city)

Iteration: <class 'list'>
Length: 3
First: Toulouse
Last: Nantes
Slice: ['Toulouse', 'Pau']
	- Toulouse
	- Pau
	- Nantes
Iteration: <class 'tuple'>
Length: 3
First: Toulouse
Last: Nantes
Slice: ('Toulouse', 'Pau')
	- Toulouse
	- Pau
	- Nantes

In [99]:
city_list.append('Bayonne')
print(city_list)
city_list[-1] = 'Biarritz'
print(city_list)

['Toulouse', 'Pau', 'Nantes', 'Bayonne', 'Bayonne']
['Toulouse', 'Pau', 'Nantes', 'Bayonne', 'Biarritz']

In [101]:
# AttributeError: 'tuple' object has no attribute 'append'
# city_tuple.append('Bayonne')

# TypeError: 'tuple' object does not support item assignment
# city_tuple[-1] = 'Biarritz'

### Set

In [104]:
numbers = { 5, 2, 3, 12 }
numbers.add(5)
numbers.add(6)
numbers

{2, 3, 5, 6, 12}

In [106]:
# TypeError: 'set' object is not subscriptable
# numbers[0]

In [107]:
for n in numbers:
    print(n)

2
3
5
6
12

### Dictionaries (dict)

In [114]:
city_d = {'name': 'Pau', 'pop': 77000}
city_d

{'name': 'Pau', 'pop': 77000}

In [115]:
city_d['name']

'Pau'

In [116]:
city_d['pop'] += 10000
city_d

{'name': 'Pau', 'pop': 87000}

In [117]:
city_d['dep'] = 64
city_d

{'name': 'Pau', 'pop': 87000, 'dep': 64}

In [118]:
# remove 1 entry: del instruction or pop method
del city_d['dep']
city_d

{'name': 'Pau', 'pop': 87000}

In [119]:
# NameError: name 'city_d' is not defined
# del city_d
# city_d

In [121]:
for key in city_d:
    print(key)

name
pop

In [122]:
for key in city_d.keys():
    print(key)

name
pop

In [124]:
for value in city_d.values():
    print(value)

Pau
87000

In [125]:
for key, value in city_d.items():
    print(key, value, sep=": ")

name: Pau
pop: 87000

### Exercise: List Modification

In [127]:
# Modify list city_list (2 solutions: slice or method)
# - add n values at the end
# - add n values at pos 3
# - add n values at begining
# - remove 3 values from pos 2 to 4
# - replace 2 values (pos 2 to 3) by 3 values
# - replace 3 values (pos 2 to 4) by 2 values

In [ ]:
infos = {
    'Toulouse': (470_000, 31),
    'Pau': (77_000, 64),
    'Paris': (2_161_000, 75),
    'Marseille': (861_000, 13),
    'Nantes': (303_000, 44),
    'Bordeaux': (249_000, 33),
    'Montpellier': (277_000, 34)
}
# transform city_list in a list of dictionnary using infos
# each entry of the resukt must have the following form:
# {'name': 'Toulouse', 'population': 470000, 'department': 31}
# NB: if city is not found in infos, entry is skipped