# Temporal Data
- module datetime: classes datetime, date, time, timedelta, tzinfo/timezone
- module calendar
- external modules: pytz (tz in str format Europe/Paris), dateutil
- numpy/pandas: datetime64

![Timezone map](https://upload.wikimedia.org/wikipedia/commons/8/88/World_Time_Zones_Map.png)
Source: Wikipedia

In [56]:
from datetime import datetime, date, time, timedelta, MINYEAR, MAXYEAR
from dateutil.relativedelta import relativedelta
import pytz
import locale

In [11]:
# datetime now here, los angeles, new york, sidney, tokyo
# then decompose in date, time
tz_la = pytz.timezone('America/Los_Angeles')
timezones = {
    'Los Angeles': tz_la,
    'New York': pytz.timezone('America/New_York'),
    'London': pytz.timezone('Europe/London'),
    'Paris': pytz.timezone('Europe/Paris'),
    'Madrid': pytz.timezone('Europe/Madrid'),
    'Berlin': pytz.timezone('Europe/Berlin'),
    'Tokyo': pytz.timezone('Asia/Tokyo'),
    'Sydney': pytz.timezone('Australia/Sydney'),
    "Hawaii": pytz.timezone('Pacific/Honolulu'),
}

In [5]:
date.today()

datetime.date(2024, 2, 8)

In [6]:
datetime.now()

datetime.datetime(2024, 2, 8, 11, 23, 24, 439787)

In [8]:
datetime.now(tz_la)

datetime.datetime(2024, 2, 8, 2, 24, 33, 95950, tzinfo=<DstTzInfo 'America/Los_Angeles' PST-1 day, 16:00:00 STD>)

In [12]:
for city, tz in timezones.items():
    dt = datetime.now(tz)
    d = dt.date()
    t = dt.time()
    print(city, dt, d, t, sep=" / ")

Los Angeles / 2024-02-08 02:35:10.413844-08:00 / 2024-02-08 / 02:35:10.413844
New York / 2024-02-08 05:35:10.413844-05:00 / 2024-02-08 / 05:35:10.413844
London / 2024-02-08 10:35:10.413844+00:00 / 2024-02-08 / 10:35:10.413844
Paris / 2024-02-08 11:35:10.413844+01:00 / 2024-02-08 / 11:35:10.413844
Madrid / 2024-02-08 11:35:10.413844+01:00 / 2024-02-08 / 11:35:10.413844
Berlin / 2024-02-08 11:35:10.413844+01:00 / 2024-02-08 / 11:35:10.413844
Tokyo / 2024-02-08 19:35:10.413844+09:00 / 2024-02-08 / 19:35:10.413844
Sydney / 2024-02-08 21:35:10.413844+11:00 / 2024-02-08 / 21:35:10.413844
Hawaii / 2024-02-08 00:35:10.413844-10:00 / 2024-02-08 / 00:35:10.413844

In [16]:
# try to build all 29th of february from 2000 to 2200
# and display correct ones
for year in range(2000, 2401):
    try:
        d = date(year, 2, 29)
        print(d)
    except ValueError:
        pass # not a leap year

2000-02-29
2004-02-29
2008-02-29
2012-02-29
2016-02-29
2020-02-29
2024-02-29
2028-02-29
2032-02-29
2036-02-29
2040-02-29
2044-02-29
2048-02-29
2052-02-29
2056-02-29
2060-02-29
2064-02-29
2068-02-29
2072-02-29
2076-02-29
2080-02-29
2084-02-29
2088-02-29
2092-02-29
2096-02-29
2104-02-29
2108-02-29
2112-02-29
2116-02-29
2120-02-29
2124-02-29
2128-02-29
2132-02-29
2136-02-29
2140-02-29
2144-02-29
2148-02-29
2152-02-29
2156-02-29
2160-02-29
2164-02-29
2168-02-29
2172-02-29
2176-02-29
2180-02-29
2184-02-29
2188-02-29
2192-02-29
2196-02-29
2204-02-29
2208-02-29
2212-02-29
2216-02-29
2220-02-29
2224-02-29
2228-02-29
2232-02-29
2236-02-29
2240-02-29
2244-02-29
2248-02-29
2252-02-29
2256-02-29
2260-02-29
2264-02-29
2268-02-29
2272-02-29
2276-02-29
2280-02-29
2284-02-29
2288-02-29
2292-02-29
2296-02-29
2304-02-29
2308-02-29
2312-02-29
2316-02-29
2320-02-29
2324-02-29
2328-02-29
2332-02-29
2336-02-29
2340-02-29
2344-02-29
2348-02-29
2352-02-29
2356-02-29
2360-02-29
2364-02-29
2368-02-29
2372-02-29
2376-02-29
2380-02-29
2384-02-29
2388-02-29
2392-02-29
2396-02-29
2400-02-29

In [20]:
MINYEAR, MAXYEAR

(1, 9999)

In [23]:
nextFebuary29th = date(2024,2,29)
nextFebuary29th

datetime.date(2024, 2, 29)

In [25]:
delta = nextFebuary29th - date.today()
delta

datetime.timedelta(days=21)

In [26]:
nextFebuary29th + timedelta(days=4)

datetime.date(2024, 3, 4)

In [27]:
dt = datetime.now()
dt

datetime.datetime(2024, 2, 8, 11, 53, 30, 852282)

In [28]:
dt + timedelta(minutes=7)

datetime.datetime(2024, 2, 8, 12, 0, 30, 852282)

In [29]:
dt + timedelta(hours=1, minutes=7)

datetime.datetime(2024, 2, 8, 13, 0, 30, 852282)

In [32]:
dt2 = dt + timedelta(days=4, hours=4, minutes=7)
dt2

datetime.datetime(2024, 2, 12, 16, 0, 30, 852282)

In [33]:
dt2 - dt

datetime.timedelta(days=4, seconds=14820)

In [34]:
next29th + timedelta(days=365)

datetime.date(2025, 2, 28)

In [37]:
next29th + relativedelta(years=1)

datetime.date(2025, 2, 28)

In [38]:
next29th + relativedelta(years=4)

datetime.date(2028, 2, 29)

In [39]:
for i in range(1, 12):
    endMonth = date(2024,1,31) + relativedelta(months=i)
    print(endMonth)

2024-02-29
2024-03-31
2024-04-30
2024-05-31
2024-06-30
2024-07-31
2024-08-31
2024-09-30
2024-10-31
2024-11-30
2024-12-31

## datetime formats
- parsing: str -> datetime|date|time
- format: datetime|date|time -> formatted str

### ISO Format (8601)
https://en.wikipedia.org/wiki/ISO_8601

In [42]:
dt_str_iso = "2024-02-29T13:00:00.250001+01"
d_str_iso = "2024-02-29"

In [41]:
dt = datetime.fromisoformat(dt_str_iso)
dt

datetime.datetime(2024, 2, 29, 13, 0, 0, 250001, tzinfo=datetime.timezone(datetime.timedelta(seconds=3600)))

In [43]:
d = date.fromisoformat(d_str_iso)
d

datetime.date(2024, 2, 29)

In [44]:
# str() use ISO Format
print(dt)
print(d)
print(dt.time())

2024-02-29 13:00:00.250001+01:00
2024-02-29
13:00:00.250001

### other formats
methods: strptime (parse) and strftime (format)

https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [46]:
date_str_fr = "29/02/2024"
datetime_str_custom = "29 février 2024 à 4H20"
#TODO parse these data and display them with same format (add day of the week: jeudi)

In [49]:
format_date_fr = "%d/%m/%Y"
d = datetime.strptime(date_str_fr, format_date_fr).date()
d

datetime.date(2024, 2, 29)

In [55]:
print(d.strftime(format_date_fr))
print(f"{d:%d/%m/%Y}")
print(f"{d:{format_date_fr}}")

29/02/2024
29/02/2024
29/02/2024

In [57]:
locale.setlocale(locale.LC_ALL, 'fr_FR.UTF-8')
format_date_fr = "%d %B %Y"
print(f'{d:{format_date_fr}}')

29 février 2024

In [59]:
format_date_custom_in = "%d %B %Y à %HH%M"
format_date_custom_out = "%A %d %B %Y à %HH%M"
dt = datetime.strptime(datetime_str_custom, format_date_custom_in)
print(f"{dt:{format_date_custom_out}}")
dt

jeudi 29 février 2024 à 04H20

datetime.datetime(2024, 2, 29, 4, 20)